:root {
    --primary-color:        #f11111;
    --white-color:          #ffffff;
    --dark-color:           #011120;
    --us-bg-color:          #dfdede;

    --gray-color:           #909090;
    --link-color:           #404040;
    --p-color:              #666262;

    --base-font-family:     'Plain', sans-serif;
    --font-weight-bold:     bold;
    --font-weight-normal:   normal;
    --font-weight-light:    300;
    --font-weight-thin:     100;

    --h1-font-size:         48px;
    --h2-font-size:         36px;
    --h3-font-size:         28px;
    --h4-font-size:         24px;
    --h5-font-size:         22px;
    --h6-font-size:         22px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100%;
    --border-radius-small:  2px;
  }
  body {
    background: var(--white-color);
    font-family: var(--base-font-family);
  }

  h2,h4 {
    font-weight: var(--font-weight-thin);
    line-height: normal;
    color: var(--white-color);
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -2px;
  }

  h4 {
    font-size: var(--h4-font-size);
  }

  input{
    width: 80%;
  }

  /*---------------------------------------
     BACKGROUND SETTINGS            
  -----------------------------------------*/

  .background {
    background-image: url();
    background: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
  }

/*---------------------------------------
     LOGIN & REGISTRATION BLOCK            
  -----------------------------------------*/
  .container{
      padding-top: 15%;
  }

/*---------------------------------------
     BUTTON           
  -----------------------------------------*/
  .custom-btn {
    background: transparent;
    border-radius: var(--border-radius-small);
    padding: 14px 24px;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.3s ease;
  }

  .custom-btn:hover {
    color: var(--primary-color);
  }

  .custom-btn:focus {
    box-shadow: none;
  }

  .custom-btn.bordered:hover,
  .custom-btn.bordered:focus,

  .custom-btn.bg-color:hover,
  .custom-btn.bg-color:focus {
    background: var(--white-color);
    border-color: transparent;
    color: var(--primary-color);
  }