<!DOCTYPE html>
<html lang="en">

<head>

    <title>Car Rent</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/aos.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/carrent-style.css">

</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="index.html">#CarRent</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Homepage</a>
                    </li>

                    <li class="nav-item">
                        <a href="#carrent" class="nav-link smoothScroll">CarRent</a>
                    </li>

                    <li class="nav-item">
                        <a href="#us" class="nav-link smoothScroll">Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="#vehicles" class="nav-link smoothScroll">Vehicles/Drivers</a>
                    </li>

                    <li class="nav-item">
                        <a href="#elerhetoseg" class="nav-link smoothScroll">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a href="#profile" class="nav-link smoothScroll">Profile</a>
                    </li>
                </ul>
                <!--
    Funkciója nincs, mert nincs hivatalos Facebook, Twitter, Instagram oldalunk,
    jelenleg csak látványelemként szerepel.
-->
                <ul class="social-icon ml-lg-3">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- 
    Homepage
 -->
    <section class="homepage d-flex flex-column justify-content-center align-items-center" id="home">

        <div class="background"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-10 mx-auto col-12">
                    <div class="fooldal-text mt-5 text-center">

                        <h6 data-aos="fade-up" data-aos-delay="300">Easiest way to rent your personal car!</h6>

                        <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Rent from CarRent!</h1>

                        <a href="#carrent" class="btn custom-btn mt-3"  data-aos="fade-up" data-aos-delay="600">Let's get
                            into it!</a>

                        <a href="#us" class="btn custom-btn bordered mt-3" data-aos="fade-up"
                            data-aos-delay="700">Us</a>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--CarRent-->

    <section class="carrent" id="carrent">
        <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-3 text-white" data-aos="fade-up">Hogyan működik?</h2>

                    <h6 class="mb-4 text-white" data-aos="fade-up">Először is meg kell adnod az autód adatait!</h6>

                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                    <div class="Adat_adas">
                        <div>

                            <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Autód adatai:</h2>

                            <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="600">Márka</strong>

                            <input type="mb-3 text-white" data-aos="fade-up" data-aos-delay="600" id="marka">
                            <!--
    itt majd adatbázisból kiválasztós, legördülő menü lesz (minden innerHTML alatt)
-->
                            <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">Modell</strong>

                            <input type="mb-3 text-white" data-aos="fade-up" data-aos-delay="700" id="modell">

                            <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="800">Évjárat</strong>

                            <input type="mb-3 text-white" data-aos="fade-up" data-aos-delay="800" id="evjarat">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- US -->
    <section class="us section" id="us">
        <div class="container">
            <div class="row">
                <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                    <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Helló, mi vagyunk a Car Check</h3>

                    <p data-aos="fade-up" data-aos-delay="400">Megbízható adatokkal és precíz szervízzel szolgálunk
                        minden vásásárlónknak az üzletünkben
                        és a weblapunkon egyaránt.</p>

                    <p data-aos="fade-up" data-aos-delay="500">Ha kérdésed van az <a rel="nofollow" href="#elerhetoseg"
                            target="_parent">Elérhetöségek</a> fülnél teheted fel őket.</p>
                </div>
                <!--
     MINDENKI EGÉSZÍTSE KI A SAJÁTJÁT (VÁLASSZATOK EGY HELYET)
    -->
                <div class="row">
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="600" id="block1">
                        <h2>Szalanics Szabolcs</h2>
                        <p>Junior Software Engineer</p>
                        <div class="card" style="width:400px">
                            <img class="card-img-top"
                                src="C:\Users\szala\Desktop\Projekt\CarRentProject\images\team\Szalanics_Szabolcs.jpg"
                                alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Szalanics Szabolcs</h4>
                                <p class="card-text">Számomra fontos a megjelenés, minden energiámmal azon
                                    dolgoztam,
                                    hogy ez az oldal, a belefektetett hosszú órákat tükrözze</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="700" id="block2">
                        <h2>Szalanics Szabolcs</h2>
                        <p>Junior Software Engineer</p>
                        <div class="card" style="width:400px">
                            <img class="card-img-top"
                                src="C:\Users\szala\Desktop\Projekt\CarRentProject\images\team\Szalanics_Szabolcs.jpg"
                                alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Szalanics Szabolcs</h4>
                                <p class="card-text">Számomra fontos a megjelenés, minden energiámmal azon
                                    dolgoztam,
                                    hogy ez az oldal, a belefektetett hosszú órákat tükrözze</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="800" id="block3">
                        <h2>Szalanics Szabolcs</h2>
                        <p>Junior Software Engineer</p>
                        <div class="card" style="width:400px">
                            <img class="card-img-top"
                                src="C:\Users\szala\Desktop\Projekt\CarRentProject\images\team\Szalanics_Szabolcs.jpg"
                                alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Szalanics Szabolcs</h4>
                                <p class="card-text">Számomra fontos a megjelenés, minden energiámmal azon
                                    dolgoztam,
                                    hogy ez az oldal, a belefektetett hosszú órákat tükrözze</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section class="elerhetoseg section" id="elerhetoseg">
        <div class="container">
            <div class="row">

                <div class="ml-auto col-lg-5 col-md-6 col-12">
                    <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Kérdezz bátran</h2>

                    <form action="#" method="post" class="elerhetoseg-form webform" data-aos="fade-up"
                        data-aos-delay="400" role="form">
                        <input type="text" class="form-control" name="cf-name" placeholder="Név">

                        <input type="email" class="form-control" name="cf-email" placeholder="Email">

                        <textarea class="form-control" rows="5" name="cf-message" placeholder="Üzenet"></textarea>

                        <button type="submit" class="form-control" id="submit-button" name="submit">Elküldés</button>
                    </form>
                </div>

                <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600">Itt találsz meg <span>mineket!</span></h2>

                    <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> Nyíregyháza Példa
                        u. 1 - Magyarország</p>


                </div>

            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                    <p class="mr-4">
                        <i class="fa fa-envelope-o mr-1"></i>
                        <a href="#">www.CarRent@gmail.com</a>
                    </p>
                    <p>
                        <i class="fa fa-phone mr-1"></i> +36 30 123 4567
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/aos.js"></script>
    <script src="../js/smoothscroll.js"></script>
    <script src="../js/custom.js"></script>

</body>

</html>